{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    {% comment %} var roomName = {{ room_name }}; {% endcomment %}
    var userId = {{ user_id }};

    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onopen = () => {
        fetchMessages();
    }

    const fetchMessages = () => {
        chatSocket.send(JSON.stringify({
            command: 'fetch_messages',
        }));
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.command === 'messages') {
            for (let i = 0; i < data.messages.length; i++) {
                createMessage(data.messages[i]);
            }
        } else if (data.command === 'new_message') {
            createMessage(data.message);
        }
    };

    const createMessage = (message) => {
        console.log(message)
        document.querySelector('#chat-log').value += (message.message + '\n');
    }

    chatSocket.onclose = function(e) {
        console.log(e.data);
        console.log(e.message);
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            command: 'new_message',
            message: {
                from: userId,
                message: message,
            }
        }));
        messageInputDom.value = '';
    };
</script>
</body>
</html>